.main{
    margin-top: 20px;
    border-top: solid 3px gray;
}

.title {
    font-weight: bold;
}
.item {
    background-color: #c6c8bf;
    padding: 1em;
    border: 1px solid gray;
    margin-top: 5px;
}
.description {
    padding: 1em 0 1em 1.2em;
}
.completed {
    color:#1a42bb
}
.pending{
    color:red
}
.due{
    font-size: .8em;
    font-weight: normal;
}
.delete{
    margin-top: 1em;
}